@model InvoiceKu.Membership.ResetPasswordEmailModel

<html>


<head>
    <ti
tle>Reset your InvoiceKu password</title>
</head>

<body>
    <p>@Model.DisplayName,</p>

    <p>We received a request to change your password on InvoiceKu.</p>

    <p>Click the link below to set a new password:</p>

    <p><a href="@Model.ResetLink">@Model.ResetLink</a></p>

    <p>If you don't want to change your password, you can ignore this email.</p>

    Tha
nks,
    The "InvoiceKu" Team
</body>

</html>