@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = Texts.Forms.Membership.ChangePassword.FormTitle.ToString(Localizer);
    ViewData["PageId"] = "ChangePassword";
}


<script id="Template_Membership_ChangePasswordPanel" type="text/template">
<div>
    <div class="s-TemplatedDialog flex-layout s-Panel">
        <div class="s-DialogToolbar s-Serenity-Toolbar s-Toolbar clearfix">        
            <h3 class="page-title">@Texts.Forms.Membership.ChangePassword.FormTitle.ToString(Localizer)</h3>
        </div>
        <div class="s-DialogContent">
            <form id="~_Form" action="">
                <div class="s-Form">
                    <div class="fieldset ui-widget ui-widget-content ui-corner-all">
                        <div id="~_PropertyGrid"></div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="buttons">
                    <hr />
                    <button id="~_SubmitButton" type="submit" class="btn btn-primary">
    @Texts.Forms.Membership.ChangePassword.SubmitButton.ToString(Localizer)
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</script>

<div class="page-content">
    <div id="ChangePasswordPanel">
    </div>
</div>

<script type="text/javascript">
    $(function () {
        new InvoiceKu.Membership.ChangePasswordPanel($('#ChangePasswordPanel')).init();
    });
</script>